<%= form_with model: listing, class: 'flex flex-col items-center' do |f| %>
    <div class="mb-20" data-controller="previews">
        <%# Allow barber to add images %>

        <% if @listing.pictures.attached? %>
            <% @listing.pictures.each do |pic| %>
                <%= f.hidden_field :pictures, multiple: true, value: pic.signed_id %>
                <%= image_tag pic, class: "w-36 inline" %>
                <%= link_to "Remove", remove_picture_listing_path(pic), data: { turbo_method: :delete }, class: "block" %>
            <% end %>
        <% end %>
        <div class="">
            <h1 class="text-2xl mb-5">Upload Photos</h1>
            <%= f.label :pictures, '+', class: "text-2xl border-slate-700 border-4 p-20 block" %><br />
            <%= f.file_field :pictures, multiple: true, 
            direct_upload: true, class: "hidden" %>
        </div>
    </div>
    
    <div class="mb-20">
        <%= f.label :title, class: "text-2xl" %><br />
        <%= f.text_field :title, placeholder: 'ie. Cuts with Chris' %>
    </div>

    <div data-controller="services" class="mb-20">
        <h2 class="text-2xl">Services</h2>
        <div id="services">
            <%= f.fields_for :services do |services_form| %>
                <div class="mb-4">
                    <%= services_form.label :name %>
                    <%= services_form.text_field :name %>
                    <%= services_form.label :price %>
                    <%= services_form.text_field :price %>
                    <button id="remove-service" type="button" class="bg-red-600 ml-2 w-6 text-center 
                    text-white rounded-full hover:opacity-70">x</button>
                </div>
            <% end %>
        </div>
        <button type="button" id="add-service" class="bg-gray-600 text-white py-1 px-2 rounded-lg opacity-40 hover:opacity-100">
        Add a service <span class="text-cyan-300 text-xl">+</span></button>
    </div>

    <%= f.submit class: 'border border-2 border-black rounded-md w-[90vw] mb-20' %>
<% end %>