<h1 class="text-3xl mb-16">Edit your listing</h1>
<%= form_with model: @listing, class: 'flex flex-col items-center' do |f| %>
    <div class="mb-20">
        <%# Allow barber to add images %>
        <%= f.label :photos %><br />
        <%= %>
    </div>
    
    <div class="mb-20">
        <%= f.label :title %><br />
        <%= f.text_field :title, placeholder: 'ie. Cuts with Chris' %>
    </div>

    <div class="mb-20">
        <h2>Services:</h2>
        <%= f.fields_for :services do |s| %>
            <div>
                <%= s.label :name %>
                <%= s.text_field :name %>
                <%= s.label :price %>
                <%= s.text_field :price %>
            </div>
        <% end %>
        <button type="button" id="add-service" class="invisible bg-gray-600 text-white py-1 px-2 rounded-lg opacity-40 hover:opacity-100">
        Add a service <span class="text-cyan-300 text-xl">+</span></button>
    </div>

    <%= f.submit 'Edit', class: 'border border-2 border-black rounded-md w-[90vw]' %>
<% end %>

<%= javascript_import_module_tag("add_service") %>