<%= render partial: "user/navbar" %>

<h1 class="text-3xl"><%= @listing.title %></h1>


<% @listing.pictures_as_thumbnails.each do |p| %>
    <%= link_to image_tag(p), p, class: "w-36" %>
<% end %>


<%= form_with model: @reservation do |f| %>
    <%= f.collection_select :service, @listing.services, :price, :name %>
<% end %>

<%= link_to 'Delete listing', @listing, data: { turbo_method: :delete } if current_user.listing == @listing %>