<nav class="flex items-center justify-between bg-slate-900 p-2.5 text-white text-lg">
    <%= link_to root_path, class: "group flex items-center" do %>
        <%= image_tag 'logo.svg', class: "w-12" %>
        <h1 class="group-hover:opacity-80 text-2xl">Quick<span class="text-cyan-300">Cuts</span></h1>
    <% end %>
    <div>
        <%= link_to 'Home', root_path, class: "hover:opacity-80" %>
        <%= link_to 'About', root_path, class: "hover:opacity-80 mx-10"%>
        <%= link_to 'Contact', root_path, class: "hover:opacity-80" %>
    </div>
    <div class="text-base top">
        <%# add proper links after genning User model via devise %>
        <%= link_to 'Log in', 'users/sign_in', class: "hover:underline" %>
        <%= link_to 'Sign up', 'users/sign_up', class: "bg-cyan-300 p-1.5 rounded-md text-black ml-5 hover:bg-white hover:text-cyan-500 duration-300" %>
    </div>
</nav>

<div class="relative mb-28">
    <%# Hero banner %>
    <%= image_tag 'homepage/hero.jpeg', class: "w-full h-[92vh] brightness-[40%] object-cover object-top" %>
    <div class="text absolute top-1/4 left-1/4 text-white">
        <h1 class="text-5xl font-semibold mb-2">Ditch the shops</h1>
        <p class="mb-5"><span class="text-cyan-300 font-medium">Elevate</span> your <span class="text-cyan-300 font-medium">haircutting experience</span> with our reservation system<br>
        that brings the expertise of <span class="text-cyan-300 font-medium">skilled barbers</span> right to your <span class="text-cyan-300 font-medium">doorstep</span></p>
        <p class="mb-12">Say goodbye to <span class="text-cyan-300 font-medium">long waits</span> and hello to <span class="text-cyan-300 font-medium">personalized service</span></p>

        <%# Add path to sign up or user index (if signed in) later%>
        <%= link_to 'Reserve Now', 'users/sign_up', class: "text-lg text-white bg-cyan-500 p-1.5 rounded-md border border-white opacity-70 hover:opacity-100 duration-200" %>
    </div>
</div>

<div class="font-semibold font-roboto h-[85vh]">
    <%# Steps for reserving a barber %>
    <h1 class="text-center text-4xl underline underline-offset-8 decoration-cyan-300 mb-20">Book a haircut now</h1>

    <div class="flex justify-center">
        <%= image_tag 'homepage/reserve-steps.svg', class: "w-[30vw] mr-20"  %>
        <div>
            <div class="shadow-md border-2 border-cyan-600 p-3 rounded-md">
                <h3 class="text-cyan-500 text-2xl mb-2">Find your Barber</h3>
                <p class="text-sm opacity-50">Explore a wide selection of talented barbers<br>who are passionate about
                                    their craft and are <br>dedicated to deliver exceptional service.</p>
            </div>
            <div class="my-10 shadow-md border-2 border-cyan-600 p-3 rounded-md">
                <h3 class="text-cyan-500 text-2xl mb-2">Choose a Service</h3>
                <p class="text-sm opacity-50">From classic cuts to beard trims, fades to hot<br>
                                    towel shaves, our diverse range of services<br>ensures there's something for everyone.</p>
            </div>
            <div class="shadow-md border-2 border-cyan-600 p-3 rounded-md">
                <h3 class="text-cyan-500 text-2xl mb-2">Book and Enjoy</h3>
                <p class="text-sm opacity-50">After booking your preferred barber and service,<br>sit back, and relax as they bring their expertise<br>directly to your doorstep.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray-100 h-[80vh] relative flex flex-col items-center">
    <%# Testimonials (make gradient overlay w/ wavy svg image) %>
    <h1 class="text-black font-semibold text-4xl mt-20 mb-10">Testimonials</h1>
    <div class="flex">
        <div class="shadow-md p-5 mr-12 bg-white rounded-lg w-96">
            <div class="flex items-end justify-start mb-4">
                <%= image_tag 'homepage/testimony-pfp1.jpeg', class: "w-28 brightness-150 rounded-full border-2 border-black" %>
                <h2 class="text-xl ml-2 font-semibold mb-2">Heisenberg</h2>
            </div>
            <p class="text-sm">"As a busy cook, finding time for a barber was a challenge. But booking through this platform changed everything. I chose my barber and service, and they arrived at my doorstep in no time."</p>
        </div>
        <div class="shadow-md p-5 justify-start bg-white rounded-lg w-96 flex-shrink">
            <div class="flex items-end mb-4">
                <%= image_tag 'homepage/testimony-pfp2.jpeg', class: "w-28 rounded-full border-2 border-black" %>
                <h2 class="text-xl ml-2 font-semibold mb-2">Jimmy McGill</h2>
            </div>
            <p class="text-sm">"Instead of spending valuable time commuting to a barbershop and waiting for my turn, I had the luxury of getting a top-notch haircut right in the comfort of my own home."</p>
        </div>
    </div>
</div>

<footer class="bg-slate-900 p-3">
    <%# Add github repo here %>
    <%= link_to root_path, class: "flex justify-center items-center" do %>
        <h1 class="text-lg text-white">Check out the source code here</h1>
        <%= image_tag 'github.svg', class: "ml-5 w-9" %>
    <% end %>
</footer>